@*<div id="containerPlacerHolder">
    <label class="col-form-legend col-sm-2">Select Container</label>
    <div class="col-sm-4">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="container" id="gridRadios1" value="MP4" checked>
                MP4
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="container" id="gridRadios2" value="MXF">
                MXF
            </label>
        </div>
    </div>
</div>*@

<select class="custom-select reloaded" id="containersSelect">
    <option disabled selected>Seleccionar container</option>
    @foreach (var c in ViewBag.containers)
    {
        <option value="@c">@c</option>
    }
</select>


