
@{
    ViewBag.Title = "Generador";

}

@model ProyectoGru.Models.FormData

<div class="generador">
    <form action="/Trabajos/Crear" method="post">
        <div class="form-group row">
            <label for="sourceFile" class="col-sm-2 col-form-label">Source File</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="sourceFile" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="targetFile" class="col-sm-2 col-form-label">Target File</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="targetFile" placeholder="">
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <label class="col-form-legend col-sm-2">Select transcoder</label>
            <div class="col-sm-4">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="transcoder" id="gridRadios1" value="Vantage" checked>
                        Vantage
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="transcoder" id="gridRadios2" value="WFS">
                        WFS
                    </label>
                </div>
            </div>

            <label class="col-form-legend col-sm-2">Select Container</label>
            <div class="col-sm-4">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="container" id="gridRadios1" value="MP4" checked>
                        MP4
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="container" id="gridRadios2" value="MXF">
                        MXF
                    </label>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-md-6">
                <h6>Video Settings</h6>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label for="videoCodec" class="col-form-label">Codec</label>
                <select name="videoCodec" class="form-control">
                    Choose
                    @foreach (var cv in Model.CodecVideos)
                        {
                        <option value="@cv">@cv</option>
                        }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="height" class="col-form-label">Height</label>
                <select name="height" class="form-control">
                    Choose
                    <option value="1024">1024</option>
                    <option value="1080">1080</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="width" class="col-form-label">Width</label>
                <select name="width" class="form-control">
                    Choose
                    <option value="768">768</option>
                    <option value="1920">1920</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="videoBitrate" class="col-form-label">Bitrate</label>
                <select name="videoBitrate" class="form-control">
                    Choose
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="30000">30000</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <h6>Audio Settings</h6>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label for="audioCodec" class="col-form-label">Codec</label>
                <select name="audioCodec" class="form-control">
                    Choose
                    <option value="MP3">MP3</option>
                    <option value="OGG">OGG</option>
                    <option value="WAV">WAV</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="channels" class="col-form-label">Canales</label>
                <select name="channels" class="form-control">
                    Choose
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sampling" class="col-form-label">Muestreo</label>
                <select name="sampling" class="form-control">
                    Choose
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="audioBitrate" class="col-form-label">Bitrate</label>
                <select name="audioBitrate" class="form-control">
                    Choose
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="30000">30000</option>
                </select>
            </div>
        </div>
        
        <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </div>
    </form>
</div>