@model ProyectoGru.Models.FormData

<select class="custom-select" id="@Model.id">
    <option disabled selected>@Model.placeholder</option>
    @foreach (var vc in Model.options)
    {
        <option value="@vc.Trim()">@vc.Trim()</option>
    }
</select>