
@{
    ViewBag.Title = "Index";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h3>Middleware UADE 2017</h3>
    <p class="lead">Convertir archivos a distintos formatos utilizando diferentes transcoders.</p>
    <p><a class="btn btn-outline-success btn-sm" href="/Generador" role="button">Comenzar</a></p>
</div>