
@{
    ViewBag.Title = "Index";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h3>Middleware de Automatización para conversión de Audio y Video</h3>
    <p class="lead">Convertir archivos a diferentes formatos utilizando diferentes Transcoders.</p>
    <p><a class="btn btn-outline-success btn-sm" href="/Generador" role="button">Comenzar</a></p>
</div>